<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auditoria de Inventario</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <h2 style="text-align: center;">Auditoria de Inventario</h2>

    <div>
        <table style="
            font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
            font-size: 12px;
            margin: auto;
            width: 480px;
            text-align: left;
            border-collapse: collapse;
        ">
            <tr>
                <th style="
                    text-align: center;
                    font-size: 13px;
                    font-weight: normal;
                    padding: 8px;
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;
                    border-bottom: 1px solid #fff;
                    color: #039;
                ">Usuario</th>
                <th style="
                    text-align: center;
                    font-size: 13px;
                    font-weight: normal;
                    padding: 8px;
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;
                    border-bottom: 1px solid #fff;
                    color: #039;
                ">Inventario
                </th>
                <th style="
                    text-align: center;
                    font-size: 13px;
                    font-weight: normal;
                    padding: 8px;
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;
                    border-bottom: 1px solid #fff;
                    color: #039;
                ">Cantidad</th>
                <th style="
                    text-align: center;
                    font-size: 13px;
                    font-weight: normal;
                    padding: 8px;
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;
                    border-bottom: 1px solid #fff;
                    color: #039;
                ">Fecha</th>
            </tr>

            <% for(var i=0; i<data.length; i++) {%>

            <tr>
                <td id="user" style="
                    padding: 8px;
                    background: #e8edff;
                    border-bottom: 1px solid #fff;
                    color: #669;
                    border-top: 1px solid transparent;
                ">

                    <%= data[i].user.name %> <br>
                    <%= data[i].user.email %> <br>
                    <%= data[i].user.role %> <br>
                    <%= data[i].user._id %>

                </td>
                <td style="
                    padding: 8px;
                    background: #e8edff;
                    border-bottom: 1px solid #fff;
                    color: #669;
                    border-top: 1px solid transparent;
                ">
                    Id: <%= data[i].inventory._id %> <br>
                    Nombre: <%= data[i].inventory.name %> <br>
                    Desc: <%= data[i].inventory.Description %> <br>
                    Proveedor: <%= data[i].inventory.proveedor %> <br>
                    Fecha: <%= data[i].inventory.createdAt %>
                </td>
                <td style="
                    text-align: center;
                    padding: 8px;
                    background: #e8edff;
                    border-bottom: 1px solid #fff;
                    color: #669;
                    border-top: 1px solid transparent;
                ">
                    <%= data[i].qty %>
                </td>
                <td style="
                    padding: 8px;
                    background: #e8edff;
                    border-bottom: 1px solid #fff;
                    color: #669;
                    border-top: 1px solid transparent;
                ">
                    <%= data[i].createdAt.toLocaleDateString() %>
                </td>
            </tr>

        <% } %>
        </table>
    </div>
</body>
</html>
