<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de ordenes</title>
</head>
<body>
    <h2 style="
        text-align: center; 
        border-radius: 2rem;
        width: 15rem;
        margin-left: 16rem;
        padding: .5rem;
        background-color: rgba(47, 66, 236, 0.705); 
        color: white;">
        Lista de Ordenes
    </h2>

    <div>
        <table style="
            margin-left: 7rem !important;
            font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
            font-size: 12px;
            margin: 45px;
            width: 480px;
            text-align: left;
            border-collapse: collapse;
        ">
            <tr>
                <th style="
                    text-align: center;
                    font-size: 13px;     
                    font-weight: normal;     
                    padding: 8px;     
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;    
                    border-bottom: 1px solid #fff; 
                    color: #039; 
                ">ID Orden</th>
                <th style="
                    text-align: center;
                    font-size: 13px;     
                    font-weight: normal;     
                    padding: 8px;     
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;    
                    border-bottom: 1px solid #fff; 
                    color: #039; 
                ">Estatus
                </th>
                <th style="
                    text-align: center;
                    font-size: 13px;     
                    font-weight: normal;     
                    padding: 8px;     
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;    
                    border-bottom: 1px solid #fff; 
                    color: #039; 
                ">Precio</th>
                <th style="
                    text-align: center;
                    font-size: 13px;     
                    font-weight: normal;     
                    padding: 8px;     
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;    
                    border-bottom: 1px solid #fff; 
                    color: #039; 
                ">Dispositivo</th>
                <th style="
                    text-align: center;
                    font-size: 13px;     
                    font-weight: normal;     
                    padding: 8px;     
                    background: #b9c9fe;
                    border-top: 4px solid #aabcfe;    
                    border-bottom: 1px solid #fff; 
                    color: #039; 
                ">Fecha</th>
            </tr>
            
            <% for(var i=0; i<data.docs.length; i++) {%>
            
            <tr>
                <td id="user" style="
                    padding: 8px;     
                    background: #e8edff;     
                    border-bottom: 1px solid #fff;
                    color: #669;    
                    border-top: 1px solid transparent;
                "> 
                    
                    # <%= data.docs[i].idOrden %>
                    
                </td>
                <td style="
                    padding: 8px;     
                    background: #e8edff;     
                    border-bottom: 1px solid #fff;
                    color: #669;    
                    border-top: 1px solid transparent;
                ">
                    <%= data.docs[i].status %>
                </td>
                <td style="
                    text-align: center;
                    padding: 8px;     
                    background: #e8edff;     
                    border-bottom: 1px solid #fff;
                    color: #669;    
                    border-top: 1px solid transparent;
                ">
                    <%= data.docs[i].price %>$
                </td>
                <td style="
                    text-align: center;
                    padding: 8px;     
                    background: #e8edff;     
                    border-bottom: 1px solid #fff;
                    color: #669;    
                    border-top: 1px solid transparent;
                ">
                    <%= data.docs[i].typeDevice.name %>$
                </td>
                <td style="
                    padding: 8px;     
                    background: #e8edff;     
                    border-bottom: 1px solid #fff;
                    color: #669;      
                    border-top: 1px solid transparent;
                ">
                    <%= data.docs[i].createdAt.toLocaleDateString() %>
                </td>
            </tr>
        
        <% } %>
        </table>
    </div>
</body>
</html>